:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  position: relative;
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

.discount-badge {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.old-price {
  text-decoration: line-through;
  color: grey;
}

.new-price {
  font-weight: bold;
  color: black;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.cart-superscript {
  position: absolute;
  top: 5px;
  right: 0;
  background-color: var(--primary-color);
  color: var(--dark-grey);
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.cart-remove-button {
  background-color: red;
  color: white;
  border: 0;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 5px;
}

.product-types {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.product-type-link {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-grey);
}

.product-type-img {
  width: 200px;
  height: 200px;
}
/*Total style */
.hide {
  display: none;
}
.cart-footer {
  padding: 1rem;
  border-top: 1px solid #ccc;
  text-align: right;
}
.cart-total {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

/* Checkout Button Styles */
.checkout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color: #218838;
}

/* Checkout Form Styles */
.checkout-form {
  max-width: 600px;
  margin: 40px auto; /* Increased top and bottom margin for spacing */
  padding: 20px; /* Added padding inside the form container */
  border: 1px solid #ddd; /* Added border for visual separation */
  border-radius: 8px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.checkout-form form {
  display: flex;
  flex-direction: column;
}

/* Form Group Styles */
.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.form-group label {
  width: 150px; /* Fixed width for labels */
  margin-right: 15px; /* Space between label and input */
  font-weight: bold;
  color: #333;
}

.form-group input {
  flex: 1;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.3);
}

/* Order Summary Styles */
.order-summary {
  max-width: 300px;
  width: 100%;
  margin: 40px auto 0 auto; /* Top margin and auto margins for centering */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Success Page Styles */
.success-message {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.success-message h1 {
  color: var(--secondary-color);
  font-size: 2em;
  margin-bottom: 20px;
}

.success-message p {
  font-size: 1.2em;
  color: var(--dark-grey);
  margin-bottom: 20px;
}

.success-message a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}

.success-message a:hover {
  background-color: var(--secondary-color);
}

/* Alert Message Styles */
.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert .close-alert {
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #721c24;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
